#Dont upload .wav files
/audios/*.wav
/audios/DIVISIONES
/audios/data/*.wav
##backend
/radioAnalyzerBackend/node_modules/*
/radioAnalyzerBackend/audios/*.wav
##frontend
/client_dev/node_modules/*
##PRUEBAS
/Test/*
/Train/*
/tocut/*
##GITIGNORE
/radioAnalyzerBackend/.env