#Dont upload .wav files
/audios/*.wav
##backend
/radioAnalyzerBackend/node_modules/*
/radioAnalyzerBackend/audios/*.wav
##frontend
/radioAnalyzerFrontend/node_modules/*
##PRUEBAS
/Test/*
/Train/*
/tocut/*